@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Tajawal", sans-serif;
    background: #0c141f;
    color: white;
}

a {
    color: inherit;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}

input {
    background: transparent;
    border: 1px solid white;
    outline: none;
    display: flex;
    justify-items: center;
    align-items: center;
}

input:focus {
    outline: none;
}

button {
    color: white;
    border: 1px solid white;
    padding: 0.5rem 1rem;
}

button:hover {
    background: white;
    color: black;
}

div .pink {
    color: #f0adb0d9;
}
